body {
  text-align: center;
}

div {
  display: inline-block;
  text-align: left;
}

h1 {
  margin-bottom: 10px;
}

author {
  font-style: italic;
  display: block;
  text-align: right;
  margin-bottom: 50px;
  padding: 0 10px 10px 0;
  border-bottom: solid 1px #888;
}

p::first-letter {
  padding-left: 8px;
}

dl {
  border: solid 1px #888;
  border-width: 1px 0;
  padding-top: 20px;
  font-size: 85%;
}

dt {
  position: absolute;
  font-weight: 600;
  width: 40%;
}

dd {
  padding: 0 0 20px 40%;
}

ol.toc {
  max-width: 1200px;
}

ol {
  overflow-x: hidden;
}

ol li.none {
  list-style: none;
}

ol li {
  min-height: 22px;
}

ol li span:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ol li p {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

ol li span {
  background-color: #FFF;
  padding-right: 8px;
}
