body {
  margin: auto 0;
}

body > div {
  display: inline-block;
}

h1 {
  margin-bottom: 10px;
}

author {
  font-style: italic;
  display: block;
  text-align: right;
  margin-bottom: 50px;
  border-bottom: solid 1px #888;
}

dt {
  position: absolute;
  font-weight: 600;
  width: 200px;
}

dd {
  padding: 0 0 20px 210px;
}
